@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #f3f4f6;
  color: #1f2937;
}

.primary {
  color: #3b82f6;
}

.bg-primary {
  background-color: #3b82f6;
}

.border-primary {
  border-color: #3b82f6;
}

.text-primary {
  color: #3b82f6;
}

.hover\:bg-primary:hover {
  background-color: #2563eb;
}

.hover\:text-primary:hover {
  color: #2563eb;
}

* {
  box-sizing: border-box;
}
